{{#each this}}

<li class="country-list__item">
    <img class="country-list__flag" src="{{flags.svg}}" alt="Flag of {{name.official}}" width=30px height=30px>
    <h2 class="country-list__name">{{name.official}}</h2>
</li>
    {{/each}}