{{#each this}}
<ul class="country-info__list">
    <li class="country-info__item">
        <p><b>Capital: </b>{{capital}}</p>
    </li>
    <li class="country-info__item">
        <p><b>Population: </b>{{population}}</p>
    </li>
    <li class="country-info__item">
        {{#each languages}}
        <p><b>Languages: </b>{{this}}</p>
        {{/each}}
    </li>
</ul>
{{/each}}