<li class="country-list__item">
<img width="50" height="50" class="country-list__img" src=""alt="">
<p class="country-list__text"></p>
</li>


{{!-- <h2 class="country-info__title">Назва країни</h2>
<img width="50" height="50" class="country-info__img" src=""alt="країна">
<div class="country-info__text">
    <p class="country-info__text-el">1</p>
    <p class="country-info__text-el">2</p>
    <p class="country-info__text-el">3</p>
</div> --}}